@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  color: #000000;
  background: #ffffff;
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
}

/* Global Reset */
* {
  text-transform: none;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}

.primary-gradient {
  background: linear-gradient(135deg, #00aeff 0%, #0077b6 100%);
}
